@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

body {
  margin: 0;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 27px;
  color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 15px 30px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}
.card .card__img {
  width: 100%;
  object-fit: cover;
  height: 230px;
  border-radius: 20px 20px 0 0;
}
.card .card__description {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.card .card__icon {
  font-size: 40px;
}

.header {
  box-shadow: 0px 2px 4px 0px #bbbbbb;
  display: flex;
  justify-content: center;
  position: relative;
  height: 75px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 215px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li p {
  margin: 0;
}

.footer {
  margin: 0 15px;
}
.footer .footer__titre {
  font-size: 10px;
}
.footer .footer__titre h1 {
  font-weight: 100;
}

.list-footer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.list-footer .list-footer__icon {
  margin-right: 10px;
  font-size: 16px;
}
.list-footer .list-footer__titre p {
  margin: 0;
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.explorer-section {
  background-color: #f6f6f6;
  display: flex;
  height: 250px;
}

.explorer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.explorer__description p {
  color: #353535;
}

.la-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #353535;
}
.la-localisation__nom {
  margin-left: 10px;
}
.la-localisation p {
  font-weight: 500;
}
.la-localisation .la-localisation__icon {
  height: 20px;
  text-align: center;
}

.fonctionnement__titre {
  margin: 0 15px;
}

.fonctionnement__liste {
  margin: 0 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.fonctionnement__number {
  background-color: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  position: absolute;
}

.fonctionnement__icon {
  margin-right: 20px;
}

.fonctionnement__description {
  margin-right: 20px;
}

.fonctionnement__background {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-left: 15px;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
}

/*# sourceMappingURL=style.css.map */
