@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

body {
  margin: 0;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 27px;
  color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  background-color: white;
  box-shadow: 0px 7px 11px 0px #e4e4e4;
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
}
.card .card__img {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  width: 100%;
  height: 230px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.card .card__img2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  width: 100%;
  height: 230px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.card .card__img3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  width: 100%;
  height: 230px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.card .card__img4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  width: 100%;
  height: 230px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.card .card__new-container {
  text-align: end;
  margin-top: 15px;
  margin-right: 15px;
}
.card .card__new {
  color: #278870;
  background-color: #99E2D0;
  padding: 5px 8px 5px 8px;
  display: inline-block;
}
.card .card__new p {
  margin: 0;
}
.card .card__new-disabled {
  opacity: 0;
}
.card .card__description {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  margin-bottom: 15px;
}
.card .card__titre h3 {
  margin: 0;
  padding: 15px 0 5px;
}
.card p {
  margin: 0;
}

.like-icon {
  position: relative;
}

.like-icon .far {
  font-size: 25px;
  cursor: pointer;
}
.like-icon .far:hover {
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.like-icon .far:hover::after {
  opacity: 1;
  transform: scaleY(1);
}
.like-icon .far::after {
  content: "";
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s;
  transition: transform 0.5s;
  position: absolute;
  left: 0;
  transform: scaleY(0);
}

.header {
  box-shadow: 0px 2px 4px 0px #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  height: 215px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li p {
  margin: 0;
}

.footer {
  margin: 0 15px;
}
.footer .footer__titre {
  font-size: 10px;
}
.footer .footer__titre h1 {
  font-weight: 100;
}

.list-footer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.list-footer .list-footer__icon {
  margin-right: 10px;
  font-size: 16px;
}
.list-footer .list-footer__titre p {
  margin: 0;
}

.header-shadow-none {
  box-shadow: none;
}

.header__ohmyfood {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.header__icon {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 25px;
  color: #4a4a4a;
}

.menu-header__photo {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  height: 300px;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.menu-header__photo2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  height: 300px;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.menu-header__photo3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  height: 300px;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.menu-header__photo4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  height: 300px;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.menu-header__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  padding: 0 30px;
}

.plats {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.plats .plats__titre {
  margin: 0 15px;
  margin-bottom: 5px;
}
.plats p {
  margin: 0;
}

.menu-card {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin: 0 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 19px -18px;
}
.menu-card .menu-card__titre {
  padding: 10px 0 0 10px;
}
.menu-card .menu-card__titre h3 {
  margin: 0;
}
.menu-card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 100%;
}
.menu-card .menu-card__description-prix h3 {
  margin: 0;
}
.menu-card .menu-card__description-titre {
  max-width: 85%;
}
.menu-card .menu-card__description-titre p {
  margin: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-btn {
  display: flex;
  justify-content: center;
  padding: 30px 0 80px 0;
}

.btn-width {
  width: 60%;
}

.underline {
  border-top: solid 3px #99E2D0;
  width: 45px;
  margin: 0 0 15px 15px;
}

.la-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #4a4a4a;
}
.la-localisation__nom {
  margin-left: 10px;
}
.la-localisation p {
  font-weight: 500;
}
.la-localisation .la-localisation__icon {
  height: 20px;
  text-align: center;
}

.explorer-section {
  background-color: #f6f6f6;
  display: flex;
  height: 250px;
}

.explorer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.explorer__description p {
  color: #4a4a4a;
}

.fonctionnement-section {
  padding: 30px 0 40px;
}
.fonctionnement-section .fonctionnement__titre {
  margin: 0 15px;
}
.fonctionnement-section .fonctionnement__liste {
  margin: 0 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.fonctionnement-section .fonctionnement__number {
  background-color: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  position: absolute;
}
.fonctionnement-section .fonctionnement__laforme {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-left: 15px;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  box-shadow: 0px 4px 19px -14px;
}
.fonctionnement-section .fonctionnement__laforme3 {
  background-color: #f2eafb;
}
.fonctionnement-section .fonctionnement__icon {
  margin-right: 20px;
  color: #4a4a4a;
  font-size: 17px;
}
.fonctionnement-section .fonctionnement__icon3 {
  color: #9356DC;
}
.fonctionnement-section .fonctionnement__description {
  margin-right: 20px;
}

.restaurants-section {
  background-color: #f6f6f6;
  padding-bottom: 30px;
  padding-top: 30px;
}
.restaurants-section__titre {
  margin: 0 15px;
}

/*# sourceMappingURL=style.css.map */
