footer {
    background-color: $color-background-footer;
    display: flex;
    flex-direction: column;
    height: 215px;
    @include color-font-background;
}

ul {
    list-style: none;
    padding: 0;
}

li p {
    margin: 0;
}

.footer {
    margin: $margin-bord-du-site;
    .footer__titre {
        font-size: 10px;
        & h1 {
            font-weight: 100;
        }
    }
}

.list-footer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &__icon {
        margin-right: 10px;
        font-size: 16px;
    }
    &__titre p {
        margin: 0;
    }
    & a {
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (min-width: 600px) {
    .footer__list {
        display: flex;
        justify-content: space-around;
    }
    .footer__titre {
        margin-bottom: 35px;
        text-align: center;
    }
    .list-footer {
        margin-right: 40px;
    }
}

