.header-shadow-none {
    box-shadow: none;
}
.header__ohmyfood {
    display: flex;
    justify-content: center;
    flex-grow: 2;    
}
.header__icon {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 25px;
    color: $color-font-secondaire;
}

.menu-header__photo {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @include menu-header-img;
}
.menu-header__photo2 {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    @include menu-header-img;
}
.menu-header__photo3 {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @include menu-header-img;
}
.menu-header__photo4 {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @include menu-header-img;
}

.menu-header__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $color-background;
    border-radius: 35px 35px 0 0;
    padding: 0 30px;
}

.plats {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    .plats__titre {
        margin: $margin-bord-du-site;
        margin-bottom: 5px;
    }
    & p {
        margin: 0;
    }
}

.menu-card {
    background-color: white;
    border-radius: $border-radius-card;
    margin: $margin-bord-du-site;
    margin-bottom: 15px;
    box-shadow: 0px 4px 19px -18px;
    .menu-card__titre {
        padding: 10px 0 0 10px;
        & h3 {
            margin: 0;
        }
    }
    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 100%;
    }
    .menu-card__description-prix h3 {
        margin: 0;
    }
    .menu-card__description-titre {
        max-width: 85%;
    }
    .menu-card__description-titre p {
        margin: 0;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.menu-btn {
    display: flex;
    justify-content: center;
    padding: 30px 0 80px 0;
}

.btn-width {
    width: 60%;
}

.underline {
    border-top: solid 3px $color-tertiaire;
    width: 45px;
    margin: 0 0 15px 15px;
}