.header-shadow-none {
    box-shadow: none;
}
.header__ohmyfood {
    display: flex;
    justify-content: center;
    flex-grow: 2;    
}
.header__icon {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 25px;
    color: $color-font-secondaire;
}

.menu-header__photo {
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 300px;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: flex-end;
    .menu-header__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: $color-background;
        border-radius: 35px 35px 0 0;
    }
    .menu-header__titre {
        margin: $margin-bord-du-site;
    }
    .menu-header__icon {
        margin-right: 30px;
        font-size: 25px;
    }
}

.plats {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    .plats__titre {
        margin: $margin-bord-du-site;
        margin-bottom: 5px;
    }
    & p {
        margin: 0;
    }
}

.menu-card {
    background-color: white;
    border-radius: $border-radius-card;
    margin: $margin-bord-du-site;
    margin-bottom: 15px;
    box-shadow: 0px 4px 19px -18px;
    .menu-card__titre {
        padding: 10px 0 0 10px;
        & h3 {
            margin: 0;
        }
    }
    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .menu-card__description-prix h3 {
        margin: 0;
    }
    .menu-card__description-titre p {
        margin: 0;
        font-size: 16px;
    }
}

.menu-btn {
    display: flex;
    justify-content: center;
    padding: 30px 0 80px 0;
}

.btn-width {
    width: 60%;
}

.underline {
    border-top: solid 3px $color-tertiaire;
    width: 12%;
    margin: 0 0 15px 15px;
}