a {
    text-decoration: none;
    color: $color-font-principale;
    &:visited {
        color: $color-font-principale;
    }
}

.card {
    display: flex;
    flex-direction: column;
    margin: $margin-bord-du-site;
    background-color: $color-background-card;
    box-shadow: 0px 7px 11px 0px #e4e4e4;
    margin-bottom: 20px;
    @include border-radius-card;
    .card__img {
        background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        @include card-img;
        @include border-radius-card(20px 20px 0 0);
    }
    .card__img2 {
        background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        @include card-img;
        @include border-radius-card(20px 20px 0 0);
    }
    .card__img3 {
        background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        @include card-img;
        @include border-radius-card(20px 20px 0 0);
    }
    .card__img4 {
        background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        @include card-img;
        @include border-radius-card(20px 20px 0 0);
    }
    .card__new-container {
        position: absolute;
        right: 3%;
        top: 5%;
    }
    .card__new {
        @include color-new-card;
        padding: 5px 8px 5px 8px;
        display: inline-block;
        & p {
            margin: 0;
        }
    }
    .card__new-disabled {
        opacity: 0;
    }
    .card__description {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        margin-bottom: 15px;
    }
    .card__titre h3 {
        margin: 0;
        padding: 15px 0 5px;
    }
    & p {
        margin: 0;
    }
}
