a {
    text-decoration: none;
    color: $color-font-principale;
    &:visited {
        color: $color-font-principale;
    }
}

.card-new {
    position: relative;
    top: 56px;
    left: 251px;
    background-color: #99E2D0;
    color: #278870;
    padding: 5px 8px 5px 8px;
    display: inline-block;
    & p {
        margin: 0;
    }
}

.card-new-disabled {
    opacity: 0;
}

.card {
    display: flex;
    flex-direction: column;
    margin: $margin-bord-du-site;
    background-color: $color-background-card;
    @include border-radius;
    .card__img {
        width: 100%;
        object-fit: cover;
        height: 230px;
        @include border-radius(20px 20px 0 0);
    }
    .card__description {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }
    .card__titre h3 {
        margin: 0;
        padding: 15px 0 5px;
    }
    & p {
        margin: 0;
        padding: 0 0 15px;
    }
    .card__icon {
        font-size: 30px;
    }

}
