.like-icon {
    position: relative;
}

.like-icon .far {
    font-size: 25px;
    cursor: pointer;
    &:hover {
        background-image: $background-image-btn;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
            opacity: 1;
            transition: height 0.8s;
            height: 100%;
    }
}
    &::after {
        content: "\f004";
        background-image: $background-image-btn;
        -webkit-background-clip: text;
        font-weight: bold;
        opacity: 0;
        position: absolute;
        left: 0;
        height: 0;
    }
}    



