.like-icon {
    position: relative;
}

.like-icon .far {
    font-size: 25px;
    cursor: pointer;
    &:hover {
        background-image: $background-image-btn;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
            opacity: 1;
            transform: scaleY(1);
    }
}
    &::after {
        content: "\f004";
        background-image: $background-image-btn;
        -webkit-background-clip: text;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.2s;
        transition: transform 0.5s;
        position: absolute;
        left: 0;
        transform: scaleY(0);
    }
}    



