.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: -1;
    background-color: white;
    font-size: 20vw;
    animation: loading-spinner 2150ms;
    animation-fill-mode: both;
    & > i {
        animation: spin 1700ms;
        background-image: $background-image-btn;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__titre h1 {
        font-size: 10vw;
    }
}



@keyframes loading-spinner {
    0% {
        opacity: 1;
        z-index: 1;

    }
    40% {
        opacity: 1;
        z-index: 1;
    }
    80% {
        z-index: 1;
    }
    100% {
        opacity: 0;
        
    }
}

@keyframes spin {
    from {
        transform: rotate(2turn);
    }
}
