.loading-container {
    animation: loading-container 2s 150ms;
}

.loading {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20vw;
    z-index: 1;
    animation: background-loading 2s 150ms;
    animation-fill-mode: both;
}



@keyframes loading-container {
    0% {
        opacity: 0;
        height: 100vh;
        overflow: hidden;
    }
    100% {
        opacity: 1;
        overflow: hidden;
    }
}

@keyframes background-loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}