@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h1 {
    font-family: 'Shrikhand', cursive;
    $color-font-principale: black;
}

h2 {
    font-family: 'Roboto', sans-serif;
    $color-font-principale: black;
}

h3 {
    font-family: 'Roboto', sans-serif;
    $color-font-principale: black;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
    $color-font-principale: black;
    font-weight: lighter;
    font-size: 18px;
}