$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;

$color-font-principale: black;
$color-font-secondaire: #4a4a4a;

$color-background: #f6f6f6;
$color-background-card: white;
$color-background-footer: #353535;

$margin-bord-du-site: 0 15px;

$border-radius-card: 20px 20px 20px 20px;

$padding-btn: 15px;
$border-btn: none;
$border-radius-btn: 27px;
$box-shadow-btn: 0px 3px 8px rgba(0, 0, 0, 0.3);
$background-image-btn: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);

@mixin color-font-background {
    @if (lightness($color-background-footer) < 30% ) {
        color: white;
    }
}

@mixin color-new-card {
    $color: darken($color-tertiaire, 40%);
    color: $color;
    background-color: $color-tertiaire;
}

@mixin border-radius-card($border: $border-radius-card) {
    border-radius: $border;
}

@mixin card-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    background-size: cover;
}

